/* GENERAL */
html
{
    background-color: black;
}

.img-logo
{
    height: 150px;
}

/* TITLE CSS */
.title-row
{
    height: 100px;
    text-align: center;
    padding-top: 50px;
}

.title-row h1
{
    color:white;
}


/* LOGIN CSS */
.login-row
{
    margin-top: 150px;
}

.col-login-box
{
    height: 420px;
    border: 5px solid ghostwhite;
    border-radius: 15px;
    color:white;
}

.login-header h3
{
    text-align: center;
    margin-top: 15px;
}

.login-links
{
    margin-top: 20px;
}

.login-links a
{
    text-align: center;
}

.row-or-separator p
{
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid white;
    line-height: 0.1em;
}

.row-or-separator p span
{
    background:black;
    padding:0 10px;
}

.row-input-login .input-group
{
    border: 0px solid white;
    border-radius:5px;
    margin-bottom: 1px;
}

.row-input-login .btn-secondary
{
    width: 100%;
    margin-top:1px;
}

.row-input-login p
{
    margin-top: 20px;
    text-align: center;
}

.row-incorrect-credentials-login
{
    margin-top: -20px;
}

.incorrect-credentials-login
{
    background-color: pink;
    height: 25px;
    color:black;
    border-radius: 5px;
}

.warning-red
{
    color:indianred;
}

/* SIGN UP */
.col-signup-box
{
    height: 350px;
    border: 5px solid ghostwhite;
    border-radius: 15px;
    color:white;
}

.signup-header h3
{
    text-align: center;
    margin-top: 15px;
}

.row-signup
{
    margin-top: 30px;
}

.row-signup .input-group
{
    border: 0px solid white;
    border-radius:5px;
    margin-bottom: 1px;
}

.row-signup .btn-secondary
{
    width: 100%;
    margin-top:1px;
}

.row-signup p
{
    margin-top: 20px;
    text-align: center;
}

.row-email-exists
{
    margin-top: -40px;
}

.email-exist-message
{
    background-color: pink;
    height: 25px;
    color:black;
    border-radius: 5px;
}

/* HOME PAGE */
.home-page-row
{
    margin-top: 225px;
}

.home-page-header h3
{
    text-align: center;
    margin-top: 15px;
}

.col-home-page-box
{
    height: 250px;
    border: 5px solid ghostwhite;
    border-radius: 15px;
    color:white;
}

.row-home-menu
{
    margin-top: 30px;
}

.row-home-menu button
{
    width: 100%;
    margin-bottom: 20px;
    font-size: 18pt;
}

.row-home-menu button:hover
{
    background-color: white;
    color:black;
    font-weight: 600;
    box-shadow: inset 0 0 0 3px #708090;
}

/* LEADERBOARD */
.leaderboard-row
{
    margin-top: 175px;
}

.leaderboard-header h3
{
    text-align: center;
    margin-top: 15px;
}

.col-leaderboard-box
{
    height: 450px;
    border: 5px solid ghostwhite;
    border-radius: 15px;
    color:white;
}

.row-leaderboard-table
{
    overflow: scroll;
    margin-top: 10px;
}

.row-leaderboard-table table th, td
{
    text-align: center;
}

.row-leaderboard-table table td
{
    vertical-align: middle;
}

.row-leaderboard-table button
{
    font-size: 10pt;
}

/*GAME PAGE*/

#points 
{
    position: absolute; 
    color: #ffcc00;
    margin-left: 50%;
    margin-top: 5%;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px #ff0000;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.replayButton
{
    background-color: gray;
    font-family: 'cooperplate' !important;
    color: white;
    text-shadow: 2px 2px black;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    font-weight: bold;
    font-size: 24px;
}

.menuButton
{
    /*background-color: #ff4d4d;*/
    background-color: gray;
    font-family: 'cooperplate' !important;
    color: white;
    text-shadow: 2px 2px black;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    font-weight: bold;
    font-size: 24px;
}

.greeting
{
    font-family: 'cooperplate' !important;
    color: gray;
    text-shadow: 2px 2px white;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    font-size: 80px;
}

#result 
{
    position: absolute;
    font-family: 'cooperplate' !important;
    /*color: #ffcc00;*/
    color: gray;
    /*text-shadow: 2px 2px red;*/
    text-shadow: 2px 2px white;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    margin-left: 41%;
    margin-top: 25%;
    font-size: 40px;
    font-weight: bold;
    visibility: hidden;
}

/* HOVER */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


